<?xml version="1.0" encoding="utf-8"?>
<HtmlBlock xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2016-04-01T10:48:31.1822716Z</LastUpdateDate>
	<Body>&lt;div class="boxCm rpQna"&gt;
&lt;div class="txtWrap"&gt;
&lt;p class="fcDgray"&gt;You can receive accurate result promptly by using &lt;span class="fcBlue"&gt;AhnReport&lt;/span&gt;.&lt;/p&gt;
&lt;/div&gt;
&lt;div class="abcRight"&gt;&lt;a class="btnSm" href="http://download.ahnlab.com/down/ahnreport/AhnRpt.exe"&gt;Create AhnReport&lt;/a&gt;&lt;/div&gt;
&lt;/div&gt;</Body>
	<UUID>Support.QnA</UUID>
	<UserName>admin</UserName>
</HtmlBlock>