<?xml version="1.0" encoding="utf-8"?>
<HtmlBlock xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2016-03-15T14:25:46.1631454Z</LastUpdateDate>
	<Body>&lt;div class="descCopy"&gt;AhnLab Security Emergency Response Center (ASEC) is a world-class emergency response organization composed of malicious code analysts and security experts. We monitor and respond to emergencies 24/7, protecting customers safely from malicious codes and security threats spreading around the world.&lt;/div&gt;
&lt;h2 class="cTit"&gt;ASEC Features&lt;/h2&gt;
&lt;div class="mt10 mb25"&gt;&lt;img alt="AhnLab Security Emergency Response Center" src="//global.ahnlab.com/image/en/info/img_asec_desc.gif" /&gt;
&lt;ul class="blind"&gt;
&lt;li&gt;24/7 Response System : ASEC monitors new security threats found around the world 24 hours a day, 7 days a week, and responding quickly and effectively taking action.&lt;/li&gt;
&lt;li&gt;Minimizing the Damage of Security Threats by Prompt Action : ASEC develops and distributes anti-virus signatures, anti-spyware signatures, and network signatures to be prepared against new malicious codes, spyware and security threats looming. ASEC also provides analytic information to our clients.&lt;/li&gt;
&lt;li&gt;Analyzing Malicious Codes &amp;amp; Providing Relevant Movements : ASEC provides customers with detailed analysis of vulnerabilities presented by malicious codes and spywares. ASEC Monthly Report is also distributed to inform customers of damages from malicious codes &amp;amp; spywares, and newly found movements.&lt;/li&gt;
&lt;li&gt;Engine Development : To respond quickly to new forms of malicious code and spyware, ASEC develops and upgrades to all product lines of AhnLab.&lt;/li&gt;
&lt;/ul&gt;
&lt;/div&gt;
&lt;h2 class="cTit"&gt;ASEC Response Process&lt;/h2&gt;
&lt;div class="mt20"&gt;&lt;img alt="ASEC Response Process" src="//global.ahnlab.com/image/en/info/step_asec.gif" /&gt;&lt;ol class="blind"&gt;
&lt;li&gt;Outbreak&lt;/li&gt;
&lt;li&gt;Analyze Virus Samples&lt;/li&gt;
&lt;li&gt;Generate Virus Signatures&lt;/li&gt;
&lt;li&gt;Upload Signature to Update Servers&lt;/li&gt;
&lt;li&gt;End of Response&lt;/li&gt;
&lt;/ol&gt;&lt;/div&gt;
&lt;!-- //20141110 수정 --&gt;</Body>
	<UUID>Security.AboutASEC</UUID>
	<UserName>admin</UserName>
</HtmlBlock>