<ArrayOfMembershipUser xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Membership.Models">
	<MembershipUser>
		<ActivateCode i:nil="true" />
		<Comment></Comment>
		<Culture i:nil="true" />
		<Email>test@test.com</Email>
		<InvalidPasswordAttempts>0</InvalidPasswordAttempts>
		<IsApproved>true</IsApproved>
		<IsLockedOut>false</IsLockedOut>
		<MembershipGroups xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<Password>f8yArV7PZjPtLZgM/dURC5sEKrA=</Password>
		<PasswordAnswer>test</PasswordAnswer>
		<PasswordQuestion>01</PasswordQuestion>
		<PasswordSalt>VWXbXrSOLpyyVrGt7ir/0w==</PasswordSalt>
		<Profiles xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
			<d3p1:KeyValueOfstringstring>
				<d3p1:Key>FirstName</d3p1:Key>
				<d3p1:Value>test</d3p1:Value>
			</d3p1:KeyValueOfstringstring>
			<d3p1:KeyValueOfstringstring>
				<d3p1:Key>LastName</d3p1:Key>
				<d3p1:Value>test</d3p1:Value>
			</d3p1:KeyValueOfstringstring>
		</Profiles>
		<ProviderExtraData xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<ProviderType i:nil="true" />
		<ProviderUserId i:nil="true" />
		<TimeZoneId i:nil="true" />
		<UserName>test</UserName>
		<UtcCreationDate>2016-04-01T09:23:35.4822853Z</UtcCreationDate>
		<UtcLastLockoutDate i:nil="true" />
		<UtcLastLoginDate>2016-04-03T10:28:10.3553179Z</UtcLastLoginDate>
		<UtcLastPasswordChangedDate i:nil="true" />
	</MembershipUser>
</ArrayOfMembershipUser>