<?xml version="1.0" encoding="utf-8"?>
<HtmlBlock xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2016-04-01T08:59:39.1882636Z</LastUpdateDate>
	<Body>&lt;div class="boxReport clfix"&gt;
&lt;div class="area"&gt;If you submit the virus samples and suspicious files, we will send you the result report after analyzing the files.
&lt;p class="btn"&gt;&lt;a onclick="javascript:goUrl('1'); return false;" class="btnCmDb" href="#"&gt;Go&lt;/a&gt;&lt;/p&gt;
&lt;/div&gt;
&lt;div class="area type02"&gt;
&lt;ul class="blList"&gt;
&lt;li&gt;Please check the followings before submitting malware or suspicious file.&lt;/li&gt;
&lt;li&gt;Some problems are often resolved by checking and modifying them.&lt;/li&gt;
&lt;/ul&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;h2 class="cTit mt35"&gt;Check list&lt;/h2&gt;
&lt;ul class="stepLi"&gt;
&lt;li&gt;&lt;a class="step" href="#step01"&gt; &lt;span class="txt"&gt;Step 1&lt;/span&gt; Check if the latest engine is being used &lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a class="step" href="#step02"&gt; &lt;span class="txt"&gt;Step 2&lt;/span&gt; Check the Internet Options &lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a class="step" href="#step03"&gt; &lt;span class="txt"&gt;Step 3&lt;/span&gt; Check for Windows security patches. &lt;/a&gt;&lt;/li&gt;
&lt;li class="last"&gt;&lt;a class="step" href="#step04"&gt; &lt;span class="txt"&gt;Step 4&lt;/span&gt; Repair the entire system in safety mode. &lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;div id="step01" class="contTit mt35"&gt;
&lt;h3 class="cTit fl"&gt;Check if the latest engine is being used&lt;/h3&gt;
&lt;div class="contR"&gt;
&lt;p&gt;The latest version of AhnLab engine provides the signatures of newly found malwares which are essential for detecting all existing malwares. The engine update is usually made once a day. Please check if the engine has been updated to the latest version to prevent damages from newly emerged malwares.&lt;/p&gt;
&lt;p class="fcStrong mt10"&gt;Check ithe latest version of AhnLab engine.&lt;/p&gt;
&lt;a class="linkArr" href="http://global.ahnlab.com/site/download/engine/engineList.do"&gt;The latest version engine&lt;/a&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div id="step02" class="contTit mt35"&gt;
&lt;p class="cTit fl"&gt;Check the Internet Options&lt;/p&gt;
&lt;div class="contR"&gt;
&lt;p&gt;Adware (advertisement programs), is a malicious code that misuses BHO (Browser Helper Objects) to change the start page or trigger pop-up advertisement windows. To prevent this you should not use &amp;ldquo;Enable third-party browser extensions&amp;rdquo; option on the setting panel.&lt;/p&gt;
&lt;p class="listTit"&gt;How to opt out &amp;ldquo;Enable third-party browser extensions&amp;rdquo;&lt;/p&gt;
&lt;ul class="blNum"&gt;
&lt;li&gt;1. Run Internet Explorer.&lt;/li&gt;
&lt;li&gt;2. Select Tools &amp;gt; Internet Options.&lt;/li&gt;
&lt;li&gt;3. Select the &amp;ldquo;Advanced&amp;rdquo; tab.&lt;/li&gt;
&lt;li&gt;4. Uncheck the checkbox not to use &amp;ldquo;Enable third-party browser extensions (requires restart)&amp;rdquo; and click &amp;ldquo;Apply&amp;rdquo;.&lt;/li&gt;
&lt;/ul&gt;
&lt;p class="scrn"&gt;&lt;img alt="" src="//global.ahnlab.com/image/en/support/img_report01_01.jpg" /&gt;&lt;/p&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div id="step03" class="contTit mt35"&gt;
&lt;p class="cTit fl"&gt;Check for Windows security patches.&lt;/p&gt;
&lt;div class="contR"&gt;
&lt;p&gt;A system that has a weak Windows login password or has not installed the security patches will be needlessly exposed to malicious codes or hacking attacks. Not only that, but even if the malicious codes are deleted using a vaccine loaded with the latest engine, the malicious codes can attack system vulnerabilities again to re-infect and damage the system. Therefore, in order not to be infected with malicious codes spreading through vulnerabilities in the system, please make sure that the latest security patches are applied, and that the password for the Windows login account cannot easily be discovered.&lt;/p&gt;
&lt;p class="listTit"&gt;1. Password Settings for the Windows Login Account (Windows 7)&lt;/p&gt;
&lt;ul class="blNum"&gt;
&lt;li&gt;1. Select Windows [Start] &amp;gt; [Control Panel] &amp;gt; [User Account]&lt;/li&gt;
&lt;li&gt;2. Select the account used.
&lt;p class="scrn"&gt;&lt;img alt="" src="//global.ahnlab.com/image/en/support/img_report01_02.jpg" /&gt;&lt;/p&gt;
&lt;/li&gt;
&lt;li class="mt25"&gt;3. Select [Change My Password] and replace the existing password by a new one which cannot be guessed easily. Please note that the new password should be a combination of letters, numbers and special characters so that your system cannot be easily infected with malicious codes, which can spread if the password is vulnerable.
&lt;p class="scrn"&gt;&lt;img alt="" src="//global.ahnlab.com/image/en/support/img_report01_03.jpg" /&gt;&lt;/p&gt;
&lt;/li&gt;
&lt;/ul&gt;
&lt;p class="listTit mt25"&gt;2. Apply Security Patches using Windows Update&lt;/p&gt;
&lt;ul class="blNum"&gt;
&lt;li&gt;1. Select Windows [Start] &amp;gt; [All Programs] &amp;gt; [Windows Update]. Please note: When the Windows Update Page is connected and the &amp;ldquo;Security Alert&amp;rdquo; window pops up, select &amp;ldquo;Yes&amp;rdquo;. The &amp;ldquo;Security Alert&amp;rdquo; window will not pop up for users who have already applied Windows Update.
&lt;p class="scrn"&gt;&lt;img alt="" src="//global.ahnlab.com/image/en/support/img_report01_04.jpg" /&gt;&lt;/p&gt;
&lt;/li&gt;
&lt;li class="mt25"&gt;2. Click &amp;ldquo;Install updates&amp;rdquo; to update your system.
&lt;p class="scrn"&gt;&lt;img alt="" src="//global.ahnlab.com/image/en/support/img_report01_05.jpg" /&gt;&lt;/p&gt;
&lt;/li&gt;
&lt;li class="mt25"&gt;3. In some cases, a system restart may be required. If a message is displayed to tell you that the system needs to be restarted, please reboot, because the patches for security vulnerabilities will be implemented only after system rebooting.&lt;/li&gt;
&lt;/ul&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div id="step04" class="contTit mt35"&gt;
&lt;p class="cTit fl"&gt;Repair the entire system in safety mode.&lt;/p&gt;
&lt;div class="contR"&gt;
&lt;p&gt;Some malicious codes must be repaired in safety mode because many execution files may be infected, and some of them have self-protection features. If they cannot be repaired entirely, even with the latest version of the engine, it is recommended that you boot the system in &amp;ldquo;Safety Mode (Use Network)&amp;rdquo; and scan/repair viruses.&lt;/p&gt;
&lt;p class="blueMark mt10"&gt;This does not apply to customers who are using MyV3 or Spyzero ASP in Windows 98 or Windows ME.&lt;/p&gt;
&lt;p class="listTit"&gt;How to Boot the System in Safety Mode&lt;/p&gt;
&lt;ul class="blNum"&gt;
&lt;li&gt;1. Restart the computer.&lt;/li&gt;
&lt;li&gt;2. When the system starts booting, press the [F8] key on the keyboard repeatedly. Press the key a number of times.&lt;/li&gt;
&lt;li&gt;3. Select &amp;ldquo;Safety Mode (Use Network)&amp;rdquo; in the &amp;ldquo;Windows Advanced Option Menu&amp;rdquo;, using the up/down arrow keys and press &amp;ldquo;Enter&amp;rdquo;.
&lt;p class="blueMark mt10"&gt;For reference, if the &amp;ldquo;Safety Mode&amp;rdquo; option is selected, Windows will start using only those drivers necessary for loading minimal devic drivers and services.&lt;/p&gt;
&lt;p class="scrn"&gt;&lt;img alt="" src="//global.ahnlab.com/image/en/support/img_report01_06.jpg" /&gt;&lt;/p&gt;
&lt;/li&gt;
&lt;li class="mt25"&gt;4. When the phrase &amp;ldquo;Safety Mode&amp;rdquo; is displayed at the bottom of the screen, it means that the system booting has been completed in safety mode.&lt;/li&gt;
&lt;li&gt;5. Once the booting is completed, execute V3 or SpyZero to inspect the system and scan/repair viruses.&lt;/li&gt;
&lt;/ul&gt;
&lt;/div&gt;
&lt;/div&gt;</Body>
	<UUID>Support.VirusReport</UUID>
	<UserName>admin</UserName>
</HtmlBlock>