<?xml version="1.0" encoding="utf-8"?>
<HtmlBlock xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2016-02-22T07:44:08.8506331Z</LastUpdateDate>
	<Body>&lt;p&gt;&lt;img src="/Cms_Data/Contents/Ahnlab/Media/logo/img_logo.gif" alt="img_logo.gif" height="24" width="108" /&gt;&lt;/p&gt;</Body>
	<UUID>header.logo</UUID>
	<UserName>admin</UserName>
</HtmlBlock>