<?xml version="1.0" encoding="utf-8"?>
<ArrayOfUrlKeyMap xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<UrlKeyMap>
		<Key>member/my-accout</Key>
		<PageFullName></PageFullName>
	</UrlKeyMap>
	<UrlKeyMap>
		<Key>our-partner</Key>
		<PageFullName></PageFullName>
	</UrlKeyMap>
	<UrlKeyMap>
		<Key>about/press-releases/detal</Key>
		<PageFullName></PageFullName>
	</UrlKeyMap>
	<UrlKeyMap>
		<Key>security/techReport</Key>
		<PageFullName></PageFullName>
	</UrlKeyMap>
	<UrlKeyMap>
		<Key>sitemap</Key>
		<PageFullName></PageFullName>
	</UrlKeyMap>
	<UrlKeyMap>
		<Key>member/my-product</Key>
		<PageFullName></PageFullName>
	</UrlKeyMap>
	<UrlKeyMap>
		<Key>member/forgot-password</Key>
		<PageFullName></PageFullName>
	</UrlKeyMap>
</ArrayOfUrlKeyMap>