<?xml version="1.0" encoding="utf-8"?>
<HtmlBlock xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2016-02-22T10:03:42.3589117Z</LastUpdateDate>
	<Body>&lt;ul&gt;
&lt;li&gt;
&lt;p class="tit"&gt;Tel&lt;/p&gt;
+844 3858 0350~2&lt;/li&gt;
&lt;li&gt;
&lt;p class="tit"&gt;Email&lt;/p&gt;
&lt;a href="mailto:support@worldstar.com.vn"&gt;support@worldstar.com.vn&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</Body>
	<UUID>contact.info</UUID>
	<UserName>admin</UserName>
</HtmlBlock>