<nav id="naviUtill">
            <ul>
                <li class="locSite">
                    <!-- mouseover, focus 일 경우 li 태그에 on 클래스 추가, 선택되었을 때는 selected 클래스 추가 -->
                    <a href="#" class="link" title="Change Country">GLOBAL</a>
                    <!-- layer -->
                    <div class="lyUtill">
                        <div class="lyWrap">
                            <p><a href="#" target="_blank" rel="nofollow" title="New Window">한국 (한국어)</a></p>
                            <p class="selected"><a href="main.html" target="_blank" rel="nofollow" title="New Window">Global (English)</a></p>
                        </div>
                    </div>
                    <!-- //layer -->
                </li>
                @*<li><a href="login/loginForm.html" class="link">Log in</a></li>
                <li><a href="login/loginForm6cea.html" class="link">My Account</a></li>*@
                <li><a href="@Url.FrontUrl().PageUrl("our-partner")" class="link">Partner</a></li>
            </ul>
        </nav>