 <dl class="boxDt myRep">
                <dt>My Report History</dt>
                <dd>
                    
                    
                    <p class="noData">No Data</p>
                    
                    <a class="linkTxt" href="https://global.ahnlab.com/site/mypage/myReportHistory/myReportHistoryList.do">More</a>
                </dd>
            </dl>