 <div class="sideArea" style="top:0;">
                    <!-- 2. sideArea가 detailWrap의 아래끝에 도달하면 fixWrap에 추가했던 값 삭제하고 sideArea의 top:0;을 bottom:-1px;로 변경 -->
                    <div class="fixWrap">
                        <!-- 1. 브라우저 상단에 도달하면 해당 값이 들어감 style="position:fixed; top:0; z-index:1000;" -->
                        <!-- 안랩 제품인 경우 구매정보 -->

                        <div class="menuBox">
                            <div class="menuTit">
                                <p>Downloads</p>
                            </div>
                            <ul class="buyInfo">

                                <li class="menu01"><a href="#" class="dis">Manual</a></li>

                                <li class="menu02"><a href="../download/documents/documentsList.html">Brochure</a></li>


                                <li class="menu03"><a href="#" class="dis">Case study</a></li>

                                <li class="menu04"><a href="#" class="dis">Engine/Patch</a></li>

                                <li class="menu05"><a href="../download/documents/documentsList.html">White Paper</a></li>

                            </ul>
                        </div>
                        <ul class="etcMenu">
                            <li class="menu01"><a href="#" class="clickSecurityMapGnb">Security Map</a></li>
                        </ul>
                    </div>
                </div>