<?xml version="1.0" encoding="utf-8"?>
<HtmlBlock xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2016-03-14T16:11:45.4265434Z</LastUpdateDate>
	<Body>&lt;div class="tabComm"&gt;
&lt;ul&gt;
&lt;li&gt;&lt;a href="/about/technology/security-strategy"&gt;Security Strategy&lt;/a&gt;&lt;/li&gt;
&lt;li class="on"&gt;&lt;a href="#"&gt;Core Technology&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;/div&gt;
&lt;h1 class="blind"&gt;Core Technology&lt;/h1&gt;
&lt;div class="downBox coreTch"&gt;
&lt;div class="cont type01"&gt;
&lt;p class="tit"&gt;Multi-Dimensional Behavior Analysis&lt;/p&gt;
&lt;p class="fcStrong"&gt;How to Identify Advanced Persistent, Targeted Malware Threats with Multidimensional Analysis&lt;/p&gt;
&lt;p&gt;This white paper illustrates a multidimensional analysis of malware as an approach to identify advanced persistent, targeted threats.&lt;/p&gt;
&lt;div class="rArea"&gt;&lt;a class="btnSm pdf" href="http://image.ahnlab.com/global/upload/download/documents/1401223629348403.pdf" title="Multi-Dimensional Behavior Analysis Download in PDF" target="_blank"&gt;PDF Downloads&lt;/a&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div class="downBox coreTch"&gt;
&lt;div class="cont type02"&gt;
&lt;p class="tit"&gt;Cloud-Based Intelligence&lt;/p&gt;
&lt;p class="fcStrong"&gt;The Solution to Complex Cyber Attacks&lt;/p&gt;
&lt;p&gt;In this white paper, AhnLab Introduces a new solution based on cloud computing technology, automated threat analysis, and DNA maps of malware characteristics identified from a database of approximately 500 million code samples.&lt;/p&gt;
&lt;div class="rArea"&gt;&lt;a class="btnSm pdf" href="http://image.ahnlab.com/global/upload/download/documents/1407011669275891.pdf" title="Cloud-Based Intelligence Download in PDF" target="_blank"&gt;PDF Downloads&lt;/a&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;h3 class="cTit mt30"&gt;AhnLab Security Map&lt;/h3&gt;
&lt;div class="techV"&gt;
&lt;div class="video"&gt;&lt;object id="myExperience1465295502001" class="BrightcoveExperience"&gt;
                        &lt;param name="bgcolor" value="#FFFFFF"&gt;
                        &lt;param name="width" value="480"&gt;
                        &lt;param name="height" value="270"&gt;
                        &lt;param name="playerID" value="2094656735001"&gt;
                        &lt;param name="playerKey" value="AQ~~,AAABQ7vJFJE~,YUe9mtKqvkRH3arvRTDGUUVrLmzIWm8u"&gt;
                        &lt;param name="isVid" value="true"&gt;
                        &lt;param name="isUI" value="true"&gt;
                        &lt;param name="dynamicStreaming" value="true"&gt;
                        &lt;param name="@videoPlayer" value="1465295502001"&gt;
                    &lt;/object&gt;
&lt;script&gt;
brightcove.createExperiences();
&lt;/script&gt;
&lt;/div&gt;
&lt;ul class="blDot"&gt;
&lt;li&gt;Based on our cloud computing strategy, AhnLab&amp;rsquo;s technologies and solutions seamlessly converge into a single platform to cope with evolving IT security challenges. We deliver comprehensive, coordinated protection against the widest variety of threat sources, thanks to consistent high quality at every level of our security strategy.&lt;/li&gt;
&lt;li&gt;AhnLab keeps enterprise networks safe at every point of entry with an all -inclusive security layer that not only defeats today&amp;rsquo;s attacks, but also thwarts tomorrow&amp;rsquo;s evolving threats.&lt;/li&gt;
&lt;/ul&gt;
&lt;/div&gt;
&lt;h3 class="cTit mt30"&gt;AhnLab MDS Overview&lt;/h3&gt;
&lt;div class="techV"&gt;
&lt;div class="video"&gt;&lt;object id="myExperience1466777329001" class="BrightcoveExperience"&gt;
                        &lt;param name="bgcolor" value="#FFFFFF"&gt;
                        &lt;param name="width" value="480"&gt;
                        &lt;param name="height" value="270"&gt;
                        &lt;param name="playerID" value="2094656735001"&gt;
                        &lt;param name="playerKey" value="AQ~~,AAABQ7vJFJE~,YUe9mtKqvkRH3arvRTDGUUVrLmzIWm8u"&gt;
                        &lt;param name="isVid" value="true"&gt;
                        &lt;param name="isUI" value="true"&gt;
                        &lt;param name="dynamicStreaming" value="true"&gt;
                        &lt;param name="@videoPlayer" value="1466777329001"&gt;
                    &lt;/object&gt;
&lt;script&gt;
brightcove.createExperiences();
&lt;/script&gt;
&lt;/div&gt;
&lt;ul class="blDot"&gt;
&lt;li&gt;AhnLab MDS is the only corporate security solution that combines local and cloud-based analytics to stop advanced persistent threats (APTs) anywhere across the organization.&lt;/li&gt;
&lt;li&gt;AhnLab MDS delivers truly comprehensive threat protection, applying rapid malware recognition and remediation with real-time blocking of malicious network traffic and dynamic disruption of active security breaches. This advanced security system protects endpoints, servers, networks and cloud resources within a single architecture and an integrated management environment.&lt;/li&gt;
&lt;/ul&gt;
&lt;/div&gt;
&lt;h3 class="cTit mt30"&gt;AhnLab MDS, The Technology&lt;/h3&gt;
&lt;div class="techV"&gt;
&lt;div class="video"&gt;&lt;object id="myExperience2181198119001" class="BrightcoveExperience"&gt;
                        &lt;param name="bgcolor" value="#FFFFFF"&gt;
                        &lt;param name="width" value="480"&gt;
                        &lt;param name="height" value="270"&gt;
                        &lt;param name="playerID" value="2094656735001"&gt;
                        &lt;param name="playerKey" value="AQ~~,AAABQ7vJFJE~,YUe9mtKqvkRH3arvRTDGUUVrLmzIWm8u"&gt;
                        &lt;param name="isVid" value="true"&gt;
                        &lt;param name="isUI" value="true"&gt;
                        &lt;param name="dynamicStreaming" value="true"&gt;
                        &lt;param name="@videoPlayer" value="2181198119001"&gt;
                    &lt;/object&gt;
&lt;script&gt;
brightcove.createExperiences();
&lt;/script&gt;
&lt;/div&gt;
&lt;ul class="blDot"&gt;
&lt;li&gt;MDS is the only solution that delivers fast, truly comprehensive host and network protection against known and unknown malware, zero-day exploits and persistent attacks. All features are integrated in a single platform, which makes it easy to deploy and manage.&lt;/li&gt;
&lt;li&gt;MDS delivers long-term value for your organization through a low total cost of ownership, reduced complexity and exceptional rapid return on investment (ROI).&lt;/li&gt;
&lt;/ul&gt;
&lt;/div&gt;
&lt;h3 class="cTit mt30"&gt;AhnLab Smart Defense (ASD) Overview&lt;/h3&gt;
&lt;div class="techV"&gt;
&lt;div class="video"&gt;&lt;object id="myExperience3029435856001" class="BrightcoveExperience"&gt;
                        &lt;param name="bgcolor" value="#FFFFFF"&gt;
                        &lt;param name="width" value="480"&gt;
                        &lt;param name="height" value="270"&gt;
                        &lt;param name="playerID" value="2094656735001"&gt;
                        &lt;param name="playerKey" value="AQ~~,AAABQ7vJFJE~,YUe9mtKqvkRH3arvRTDGUUVrLmzIWm8u"&gt;
                        &lt;param name="isVid" value="true"&gt;
                        &lt;param name="isUI" value="true"&gt;
                        &lt;param name="dynamicStreaming" value="true"&gt;
                        &lt;param name="@videoPlayer" value="3029435856001"&gt;
                    &lt;/object&gt;
&lt;script&gt;
brightcove.createExperiences();
&lt;/script&gt;
&lt;/div&gt;
&lt;ul class="blDot"&gt;
&lt;li&gt;ASD delivers sophisticated, comprehensive cloud-based threat protection, applying rapid malware recognition and remediation, enabling a quick and accurate response against known, unknown and variant threats.&lt;/li&gt;
&lt;li&gt;ASDs network maximizes analytic accuracy by effectively sharing threat information real-time, that is detected by millions of computers linked to the network.&lt;/li&gt;
&lt;/ul&gt;
&lt;/div&gt;</Body>
	<UUID>About.CoreTechnology</UUID>
	<UserName>admin</UserName>
</HtmlBlock>