<?xml version="1.0" encoding="utf-8"?>
<HtmlBlock xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2016-03-15T16:30:01.7714844Z</LastUpdateDate>
	<Body>&lt;h2&gt;Newsletter featuring Gartner research&lt;/h2&gt;
&lt;p class="tit"&gt;&lt;a href="#" class="link" target="_blank" title="New Window"&gt;Ransomware&lt;br /&gt;Response: Ideal&lt;br /&gt;versus Reality&lt;/a&gt;&lt;/p&gt;
&lt;div class="txtWrap"&gt;
&lt;p&gt;&lt;a href="#" class="link" target="_blank" title="New Window"&gt;There has been a sharp increase in ransomware, and new ransomware and their variants continue to surface, causing damages not only to companies but also to individual users. This newsletter introduces the latest ransomware trends and best practices for ransomware response using AhnLab MDS.&lt;/a&gt;&lt;/p&gt;
&lt;/div&gt;</Body>
	<UUID>Home.Newsletter</UUID>
	<UserName>admin</UserName>
</HtmlBlock>