<?xml version="1.0" encoding="utf-8"?>
<HtmlBlock xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2016-03-17T09:07:29.623878Z</LastUpdateDate>
	<Body>&lt;p class="tit"&gt;&lt;a href="#"&gt;My Account&lt;/a&gt;&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;&lt;a href="#"&gt;Account Information&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="#"&gt;My Product List&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="#"&gt;My Q&amp;amp;A&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="#"&gt;Report History&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</Body>
	<UUID>Footer.Col-3</UUID>
	<UserName>admin</UserName>
</HtmlBlock>