<?xml version="1.0" encoding="utf-8"?>
<HtmlBlock xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2016-02-22T10:04:19.7894001Z</LastUpdateDate>
	<Body>&lt;p&gt;WORLD STAR INTERNATIONAL JSC. &lt;br /&gt;R1103, Fl 11, Viglacera Bld, No.1 Thang Long Highway, Me Tri, Nam Tu Liem, Ha Noi.&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;
&lt;p class="tit"&gt;Tel&lt;/p&gt;
+844 3858 0350~2&lt;/li&gt;
&lt;li&gt;
&lt;p class="tit"&gt;Email&lt;/p&gt;
&lt;a href="mailto:support@worldstar.com.vn"&gt;support@worldstar.com.vn&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</Body>
	<UUID>contact.info</UUID>
	<UserName>admin</UserName>
</HtmlBlock>