<?xml version="1.0" encoding="utf-8"?>
<HtmlBlock xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2016-04-03T16:13:08.2172962Z</LastUpdateDate>
	<Body>&lt;p class="tit"&gt;&lt;a href="/vi-vn/about/contact-us"&gt;Li&amp;ecirc;n hệ&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href="mailto:sales@ahnlab.com.vn"&gt;sales@ahnlab.com.vn&lt;/a&gt;&lt;/p&gt;</Body>
	<UUID>Footer.Col-4</UUID>
	<UserName>admin</UserName>
</HtmlBlock>