<?xml version="1.0" encoding="utf-8"?>
<HtmlBlock xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2016-03-17T09:08:06.0825993Z</LastUpdateDate>
	<Body>&lt;p class="tit"&gt;&lt;a href="/about/contact-us"&gt;Contact Us&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href="mailto:sales@ahnlab.com.vn"&gt;sales@ahnlab.com.vn&lt;/a&gt;&lt;/p&gt;</Body>
	<UUID>Footer.Col-4</UUID>
	<UserName>admin</UserName>
</HtmlBlock>