<?xml version="1.0" encoding="utf-8"?>
<HtmlBlock xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2016-03-17T09:06:03.9537642Z</LastUpdateDate>
	<Body>&lt;p class="tit"&gt;&lt;a href="#"&gt;Support&lt;/a&gt;&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;&lt;a href="/support/technical/support-program"&gt;Support Program&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="/support/technical/ahnreport"&gt;AhnReport&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="/support/virusreport"&gt;Virus &amp;amp; Malware Inquiry&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="/support/productfaq"&gt;Product FAQ&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="/support/virusfaq"&gt;Virus FAQ&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="/support/q-a"&gt;Q&amp;amp;A&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</Body>
	<UUID>Footer.Col-1</UUID>
	<UserName>admin</UserName>
</HtmlBlock>