<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2016-04-03T15:54:52.6672005Z</LastUpdateDate>
	<CacheToDisk>false</CacheToDisk>
	<RequireHttps>false</RequireHttps>
	<IsDefault>false</IsDefault>
	<EnableTheming>true</EnableTheming>
	<EnableScript>true</EnableScript>
	<HtmlMeta>
		<HtmlMetaBlock></HtmlMetaBlock>
		<Author></Author>
		<Keywords></Keywords>
		<Description></Description>
		<Customs xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<HtmlTitle>Submit Suspicious Files</HtmlTitle>
		<Canonical></Canonical>
	</HtmlMeta>
	<Route>
		<Identifier></Identifier>
		<RoutePath></RoutePath>
		<Defaults xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<ExternalUrl></ExternalUrl>
		<LinkTarget i:nil="true" />
	</Route>
	<Navigation>
		<Show>false</Show>
		<DisplayText>Submit Suspicious Files</DisplayText>
		<Order>1</Order>
		<ShowInCrumb>true</ShowInCrumb>
	</Navigation>
	<Permission>
		<AllowGroups xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<AuthorizeMenu>false</AuthorizeMenu>
		<RequireMember>true</RequireMember>
		<UnauthorizedUrl>/member/login</UnauthorizedUrl>
	</Permission>
	<Layout>OneColumn</Layout>
	<PagePositions>
		<PagePosition i:type="ViewPosition">
			<PagePositionId>AM7TP</PagePositionId>
			<LayoutPositionId>Breadcrumb</LayoutPositionId>
			<Order>0</Order>
			<SkipError>false</SkipError>
			<ViewName>Share.Breadcrumb</ViewName>
			<Parameters i:nil="true" />
			<OutputCache>
				<Duration>0</Duration>
				<EnableCaching>false</EnableCaching>
				<ExpirationPolicy>AbsoluteExpiration</ExpirationPolicy>
			</OutputCache>
		</PagePosition>
		<PagePosition i:type="ViewPosition">
			<PagePositionId>BVZGJ</PagePositionId>
			<LayoutPositionId>PageTitle</LayoutPositionId>
			<Order>0</Order>
			<SkipError>false</SkipError>
			<ViewName>Share.PageTitle</ViewName>
			<Parameters i:nil="true" />
			<OutputCache>
				<Duration>0</Duration>
				<EnableCaching>false</EnableCaching>
				<ExpirationPolicy>AbsoluteExpiration</ExpirationPolicy>
			</OutputCache>
		</PagePosition>
		<PagePosition i:type="ViewPosition">
			<PagePositionId>M2BJ7</PagePositionId>
			<LayoutPositionId>Main</LayoutPositionId>
			<Order>0</Order>
			<SkipError>false</SkipError>
			<ViewName>Support.SuspiciousFiles</ViewName>
			<Parameters i:nil="true" />
			<OutputCache>
				<Duration>0</Duration>
				<EnableCaching>false</EnableCaching>
				<ExpirationPolicy>AbsoluteExpiration</ExpirationPolicy>
			</OutputCache>
		</PagePosition>
	</PagePositions>
	<DataRules />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<PageType>Default</PageType>
	<OutputCache>
		<Duration>0</Duration>
		<EnableCaching>false</EnableCaching>
		<ExpirationPolicy>AbsoluteExpiration</ExpirationPolicy>
	</OutputCache>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>true</Published>
	<UserName>admin</UserName>
	<ContentTitle>Submit Suspicious Files</ContentTitle>
	<Searchable>false</Searchable>
</Page>