<?xml version="1.0" encoding="utf-8"?>
<HtmlBlock xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2016-02-22T09:45:29.1904899Z</LastUpdateDate>
	<Body>&lt;div class="terms"&gt;
&lt;h3 class="mt0"&gt;Terms of Use Regarding Copyright on Content&lt;/h3&gt;
&lt;p&gt;The copyright on all content of AhnLab belongs to AhnLab, Inc. This copyright is protected by the copyright laws of the Republic of Korea and in adherence to international copyright convention.&lt;/p&gt;
&lt;h3&gt;Agreement to Conditions of Use&lt;/h3&gt;
&lt;p&gt;Thank you for using AhnLab&amp;rsquo;s services. The content of AhnLab is offered free of charge to anyone. However, our evaluation copies and shareware can be downloaded only when you have provided your personal information. Our Conditions of Use regarding the content of AhnLab are subject to change at any time. Once the updated version has become effective, users will be notified through the service page or by any other means. These Conditions of Use apply to all the content provided by AhnLab, Inc. The content of AhnLab refers to all the text, graphics, files and software provided by AhnLab, Inc.&lt;/p&gt;
&lt;h3&gt;Copyright on the Content of AhnLab&lt;/h3&gt;
&lt;p&gt;The Copyright on all content provided by AhnLab belongs to AhnLab, Inc. This content is protected by copyright law, and it is prohibited to lend, distribute, or sell it under any circumstances without the prior consent of AhnLab.&lt;/p&gt;
&lt;h3&gt;Distribution and Quotation of the Content of AhnLab&lt;/h3&gt;
&lt;h4 class="mt0"&gt;1. Content&lt;/h4&gt;
&lt;p&gt;It is strictly prohibited to distribute any of the content of AhnLab to the public for commercial purposes by quoting, extracting, reproducing, altering, transferring, publishing, exhibiting, modifying or through any other means of dissemination. However, it is possible to quote part of the content for non-commercial purposes or with prior consent by AhnLab. The companies who have signed a content license agreement with AhnLab are permitted to distribute the content of AhnLab, but even in this case, they must cite &amp;ldquo;AhnLab&amp;rdquo; as the content source.&lt;/p&gt;
&lt;h4&gt;2. Programs (Evaluation Copies and Shareware)&lt;/h4&gt;
&lt;p&gt;The evaluation copies of AhnLab V3Pro and V3Net for Windows Server 6.0 can be installed and used for a limited period by individuals and the IT staff of companies before buying them. They are distributed only from AhnLab's website (http://www.ahnlab.com/). In addition, the V3Mobile for Palm is also offered as shareware to promote the purchase of a full version, and is currently distributed only from AhnLab's website (http://www.ahnlab.com/). Individuals, companies, or organizations cannot upload the above mentioned program files on a communications network or the Internet, nor can they distribute them through CDs or other media, without the prior consent of AhnLab. If companies or organizations wish to use or distribute evaluation copies for either commercial or non-commercial purposes, they must first acquire permission from AhnLab.&lt;/p&gt;
&lt;h3&gt;Link&lt;/h3&gt;
&lt;p&gt;It is prohibited to extract or quote a part of the content presented by AhnLab and then link to particular web-pages maintained by AhnLab, Inc. without the prior explicit consent of AhnLab.&lt;/p&gt;
&lt;h3&gt;Liability for the Supplied Content&lt;/h3&gt;
&lt;p&gt;With regard to the content in which other suppliers are mentioned, all legal liability belongs to the corresponding suppliers and AhnLab accepts no legal responsibilities.&lt;/p&gt;
&lt;h3&gt;Change&lt;/h3&gt;
&lt;p&gt;AhnLab will occasionally update its Terms of Use. When updated, the "Effective Date" on the bottom of the Terms of Use will be also changed, and the details of any changes will be posted separately.&lt;/p&gt;
&lt;dl class="addInfo mt35"&gt;&lt;dt&gt;Additional Information&lt;/dt&gt;&lt;dd&gt;
&lt;p&gt;If you have any questions or suggestions about AhnLab's Terms of Use, please send an e-mail to the administrator&lt;/p&gt;
&lt;!-- 20141010 수정 --&gt;
&lt;p&gt;(&lt;a class="linkTxt" href="mailto:content@ahnlab.com"&gt;content@ahnlab.com&lt;/a&gt;)&lt;/p&gt;
&lt;!-- //20141010 수정 --&gt;&lt;/dd&gt;&lt;/dl&gt;
&lt;p class="date"&gt;This Terms of Use is effective on January 6, 2003.&lt;/p&gt;
&lt;/div&gt;</Body>
	<UUID>terms-of-use</UUID>
	<UserName>admin</UserName>
</HtmlBlock>