<?xml version="1.0" encoding="utf-8"?>
<HtmlBlock xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2016-02-22T07:54:21.5655435Z</LastUpdateDate>
	<Body>&lt;p class="logo"&gt;&lt;a href="/"&gt; &lt;img alt="logo.png" src="/Cms_Data/Contents/Ahnlab/Media/logo/logo.png" height="31" width="124" /&gt; &lt;/a&gt;&lt;/p&gt;</Body>
	<UUID>header.logo</UUID>
	<UserName>admin</UserName>
</HtmlBlock>