<div class="tblInfo">
  <p>Total <strong class="fcBlue">145</strong></p>
  <div class="infoR">
    <input type="text" name="searchText" id="searchText" class="txtBox mr6" value="" onkeypress="javascript:if (event.keyCode == 13) { searchForm(1); return false; }" placeholder="Enter Search Keyword" title="Enter Search Keyword" style="width:168px" />
    <a href="#" class="btnSmDb" onclick="javascript:searchForm(1); return false;">Search</a>
  </div>
</div>
<div class="bbsList mt15">
  <table>
    <caption>Articles List</caption>
    <colgroup>
      <col style="width:12%;" />
      <col style="width:76%;" />
      <col style="width:12%;" />
    </colgroup>
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Article</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>145</td>
        <td class="al">
          <a href="#" onclick="javascript:getView('11576'); return false;">Frost &amp; Sullivan Recognizes AhnLab with the 2015 South Korea Technology Innovation Award in APT Solutions</a>


        </td>
        <td>09-21-2015</td>
      </tr>



      <tr>
        <td>144</td>
        <td class="al">



          <a href="#" onclick="javascript:getView('11560'); return false;">AhnLab introduces its Anti-APT Security Solutions at CommunicAsia 2014</a>


        </td>
        <td>06-18-2014</td>
      </tr>



      <tr>
        <td>143</td>
        <td class="al">



          <a href="#" onclick="javascript:getView('11559'); return false;">AhnLab Presents Session on Stopping Malware to Protect Digital Assets at IANS Chicago Information Security Forum</a>


        </td>
        <td>10-30-2013</td>
      </tr>



      <tr>
        <td>142</td>
        <td class="al">



          <a href="#" onclick="javascript:getView('11558'); return false;">AhnLab and Network Securitas to Discuss How Today&#039;s IT Professionals Are Addressing APTs and Sophisticated Malware</a>


        </td>
        <td>10-14-2013</td>
      </tr>



      <tr>
        <td>141</td>
        <td class="al">



          <a href="#" onclick="javascript:getView('11557'); return false;">AhnLab and Total Tech Present Webinar Examining How Today&#039;s IT Professionals Are Addressing APTs and Sophisticated Malware</a>


        </td>
        <td>10-07-2013</td>
      </tr>



      <tr>
        <td>140</td>
        <td class="al">



          <a href="#" onclick="javascript:getView('11556'); return false;">AhnLab&#039;s Presents Session on Stopping Malware to Protect Digital Assets at IANS Boston Information Security Forum</a>


        </td>
        <td>09-17-2013</td>
      </tr>



      <tr>
        <td>139</td>
        <td class="al">



          <a href="#" onclick="javascript:getView('11555'); return false;">AhnLab MDS a Finalist for 2013 Computing Security Awards &#034;Anti Malware Solution of the Year&#034; and &#034;Editor&#039;s Choice&#034;</a>


        </td>
        <td>08-12-2013</td>
      </tr>



      <tr>
        <td>138</td>
        <td class="al">



          <a href="#" onclick="javascript:getView('11554'); return false;">AhnLab Receives High Scores in NSS Labs&#039; Breach Detection System Product Analysis</a>


        </td>
        <td>07-31-2013</td>
      </tr>



      <tr>
        <td>137</td>
        <td class="al">



          <a href="#" onclick="javascript:getView('11553'); return false;">AhnLab&#039;s Malware Defense System Delivers Increased Value With Enhanced Management Features and Ease of Use</a>


        </td>
        <td>06-29-2013</td>
      </tr>



      <tr>
        <td>136</td>
        <td class="al">



          <a href="#" onclick="javascript:getView('11552'); return false;">AhnLab to Exhibit at Gartner Security and Risk Management Summit 2013</a>


        </td>
        <td>06-07-2013</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="paging">
  <a href="#" onclick='return false;' class="btnMove first"><span class="blind">Go Back Before Page 10</span></a>
  <a href="#" onclick='return false;' class="btnMove prev"><span class="blind">Previous Page</span></a>
  <span><a href="#" onclick="pageForm('1');return false;" class="on">1</a></span>
  <span><a href="#" onclick="pageForm('2');return false;">2</a></span>
  <span><a href="#" onclick="pageForm('3');return false;">3</a></span>
  <span><a href="#" onclick="pageForm('4');return false;">4</a></span>
  <span><a href="#" onclick="pageForm('5');return false;">5</a></span>
  <span><a href="#" onclick="pageForm('6');return false;">6</a></span>
  <span><a href="#" onclick="pageForm('7');return false;">7</a></span>
  <span><a href="#" onclick="pageForm('8');return false;">8</a></span>
  <span><a href="#" onclick="pageForm('9');return false;">9</a></span>
  <span><a href="#" onclick="pageForm('10');return false;">10</a></span>
  <a href="#" onclick="pageForm('2');return false;" class="btnMove next"><span class="blind">Next Page</span></a>
  <a href="#" onclick="pageForm('11');return false;" class="btnMove last"><span class="blind">Go After Page 10</span></a>
</div>