<?xml version="1.0" encoding="utf-8"?>
<HtmlBlock xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2016-04-03T16:11:08.5198273Z</LastUpdateDate>
	<Body>&lt;p class="tit"&gt;&lt;a href="/vi-vn/download/free-trial"&gt;Tải về&lt;/a&gt;&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;&lt;a href="/vi-vn/download/free-trial"&gt;Bản d&amp;ugrave;ng thử&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="/vi-vn/download/engine-patch"&gt;Tải Engine/Patch&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="/vi-vn/download/removal-tools"&gt;Removal Tools&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="/vi-vn/download/documents"&gt;T&amp;agrave;i liệu&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</Body>
	<UUID>Footer.Col-2</UUID>
	<UserName>admin</UserName>
</HtmlBlock>