<?xml version="1.0" encoding="utf-8"?>
<HtmlBlock xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2016-03-14T16:11:59.234378Z</LastUpdateDate>
	<Body>&lt;div class="tabComm"&gt;
&lt;ul&gt;
&lt;li class="on"&gt;&lt;a href="#"&gt;Security Strategy&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="/about/technology/core-technology"&gt;Core Technology&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;/div&gt;
&lt;h1 class="blind"&gt;Security Strategy&lt;/h1&gt;
&lt;h3 class="cTit"&gt;Brand-new Multi-layered Security: New Perspective on Advanced Cyber Threat Defense&lt;/h3&gt;
&lt;p class="mt5"&gt;Today&amp;rsquo;s advanced attacks originate from multiple vectors, which leave traditional point-solution countermeasures incapable of mitigating them. These targeted attacks, which are called advanced persistent threats (APTs), require immediate, automated mitigation.&lt;/p&gt;
&lt;p&gt;Simply detecting malware, however, is no longer sufficient to cope with the multi-stage attacks of advanced malware since Malware used in APTs is not universal but rather specially designed to penetrate a targeted organization&amp;rsquo;s network. As a result, current security strategies require more advanced defense elements than ever before.&lt;/p&gt;
&lt;p&gt;To ensure security measures cover the advanced threats, it is mandatory to coordinate existing defense systems with an overall security strategy. To address that AhnLab introduced a new, next-generation security strategy to defend against advanced threats: multi-layered security strategy.&lt;/p&gt;
&lt;p&gt;The brand-new multi-layered security strategy has four layers:&lt;/p&gt;
&lt;div class="ac mt15"&gt;&lt;img src="/Cms_Data/Contents/Ahnlab/Media/editor/diagram_security.gif" alt="diagram_security.gif" width="990" height="667" /&gt;&lt;/div&gt;
&lt;div class="btnCenter mt40"&gt;&lt;a class="btnCmDb" href="coreTechnology.html"&gt;Go to Core Technology&lt;/a&gt;&lt;/div&gt;</Body>
	<UUID>About.SecurityStrategy</UUID>
	<UserName>admin</UserName>
</HtmlBlock>