<?xml version="1.0" encoding="utf-8"?>
<HtmlBlock xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2016-03-14T15:01:54.875768Z</LastUpdateDate>
	<Body>&lt;h2 class="cTit"&gt;Learn more about AhnLab&lt;/h2&gt;
&lt;p class="mt5"&gt;AhnLab develops industry-leading information security solutions and services for consumers, enterprises, and small and medium businesses worldwide.&lt;/p&gt;
&lt;p&gt;We deliver a comprehensive security lineup, including proven, world-class antivirus products for desktops and servers, mobile security products, online transaction security products, network security appliances, and consulting services.&lt;/p&gt;
&lt;p&gt;AhnLab has firmly established its market position and manages sales partners in many countries worldwide.&lt;/p&gt;
&lt;dl class="brochure"&gt;&lt;dt&gt;Brochure&lt;/dt&gt;&lt;dd&gt;Company Overview / Business Portfolio / Technology / Reference &lt;a class="btnSm pdf" href="http://download.ahnlab.com/global/brochure/AhnLab_Company_Brochure_EN_ROW.pdf" target="_blank" title="Download Brochure in PDF"&gt;PDF Downloads&lt;/a&gt;&lt;/dd&gt;&lt;/dl&gt;
&lt;h2 class="cTit"&gt;What We Offer&lt;/h2&gt;
&lt;p class="mt5"&gt;Based on our cloud computing strategy, AhnLab&amp;rsquo;s technologies and solutions seamlessly converge into a single platform to cope with evolving IT security challenges. We deliver comprehensive, coordinated protection against the widest variety of threat sources, thanks to consistent high quality at every level of our security strategy.&lt;/p&gt;
&lt;div class="wwoWrap"&gt;
&lt;div class="box posL"&gt;
&lt;p class="tit"&gt;Advanced technology&lt;/p&gt;
&lt;ul class="blDot"&gt;
&lt;li&gt;Cloud computing&lt;/li&gt;
&lt;li&gt;Multi-dimensional threat analysis&lt;/li&gt;
&lt;li&gt;Award-winning solutions&lt;/li&gt;
&lt;/ul&gt;
&lt;/div&gt;
&lt;div class="box posC"&gt;
&lt;p class="tit"&gt;Broad security landscape&lt;/p&gt;
&lt;ul class="blDot"&gt;
&lt;li&gt;Endpoint protection&lt;/li&gt;
&lt;li&gt;Network appliances&lt;/li&gt;
&lt;li&gt;Transaction security&lt;/li&gt;
&lt;li&gt;Web security&lt;/li&gt;
&lt;li&gt;Security Services&lt;/li&gt;
&lt;/ul&gt;
&lt;/div&gt;
&lt;div class="box posR"&gt;
&lt;p class="tit"&gt;Exceptional service&lt;/p&gt;
&lt;ul class="blDot"&gt;
&lt;li&gt;Experts with deep technical knowledge&lt;/li&gt;
&lt;li&gt;"Customer first" support and services&lt;/li&gt;
&lt;/ul&gt;
&lt;/div&gt;
&lt;/div&gt;</Body>
	<UUID>About.AboutUs</UUID>
	<UserName>admin</UserName>
</HtmlBlock>