<?xml version="1.0" encoding="utf-8"?>
<HtmlBlock xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2016-04-03T16:17:16.1971756Z</LastUpdateDate>
	<Body>&lt;p class="tit"&gt;&lt;a href="#"&gt;Hỗ trợ&lt;/a&gt;&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;&lt;a href="/vi-vn/support/technical/support-program"&gt;Hỗ trợ phần mềm&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="/vi-vn/support/technical/ahnreport"&gt;AhnReport&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="/vi-vn/support/virusreport"&gt;Virus &amp;amp; Malware Inquiry&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="/vi-vn/support/productfaq"&gt;C&amp;aacute;c c&amp;acirc;u hỏi về sản phẩm&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="/vi-vn/support/virusfaq"&gt;C&amp;aacute;c c&amp;acirc;u hỏi về virus&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="/vi-vn/support/q-a"&gt;Hỏi đ&amp;aacute;p&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</Body>
	<UUID>Footer.Col-1</UUID>
	<UserName>admin</UserName>
</HtmlBlock>