 <footer id="footer">
            <div class="ftWrap">
                <ul class="ftMenu">
                    <li><a href="etc/privacyPolicy.html">Privacy &amp; Security</a></li>

                    <li><a href="etc/termsOfUse.html">Terms of Use</a></li>
                    <li><a href="etc/contactUs.html">Contact Us</a></li>
                    <li><a href="etc/sitemap.html">Sitemap</a></li>
                </ul>

                <div class="locSiteWrap globalSiteCombo">
                    <p class="locSite"><a href="#" class="comboLink2" title="Change Country">GLOBAL</a></p>
                    <!-- layer -->
                    <div class="lyUtill" id="">
                        <div class="lyWrap">
                            <p><a href="../../www.ahnlab.com/kr/site/main.html" target="_blank" rel="nofollow" class="fKr" title="New Window">한국 (한국어)</a></p>
                            <p class="selected"><a href="main.html" target="_blank" rel="nofollow" title="New Window">Global (English)</a></p>
                            <p class=""><a href="../../apac.ahnlab.com/site/main.html" target="_blank" rel="nofollow" title="New Window">APAC (English)</a></p>
                            <p class=""><a href="../../jp.ahnlab.com/site/main.html" target="_blank" rel="nofollow" class="fJapan" title="New Window">日本 (日本語)</a></p>
                            <p class=""><a href="../../cn.ahnlab.com/site/main.html" target="_blank" rel="nofollow" class="fChina" title="New Window">中国 (简体中文)</a></p>
                            <p><a href="http://us.ahnlab.com/" target="_blank" rel="nofollow" title="New Window">US (English)</a></p>
                        </div>
                    </div>
                    <!-- //layer -->
                </div>

                <p class="copyright">&copy; AhnLab, Inc. All rights reserved.</p>
            </div>
        </footer>