<?xml version="1.0" encoding="utf-8"?>
<HtmlBlock xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2016-04-03T15:37:43.7962637Z</LastUpdateDate>
	<Body>&lt;p class="logo"&gt;&lt;a href="/vi-vn"&gt; &lt;img alt="Worldstar" src="/Cms_Data/Contents/Ahnlab/Media/logo/logo.png" /&gt; &lt;/a&gt;&lt;/p&gt;</Body>
	<UUID>header.logo</UUID>
	<UserName>admin</UserName>
</HtmlBlock>