<?xml version="1.0" encoding="utf-8"?>
<ArrayOfUrlKeyMap xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<UrlKeyMap>
		<Key>privacy-policy</Key>
		<PageFullName></PageFullName>
	</UrlKeyMap>
	<UrlKeyMap>
		<Key>terms-of-use</Key>
		<PageFullName></PageFullName>
	</UrlKeyMap>
	<UrlKeyMap>
		<Key>contact-us</Key>
		<PageFullName></PageFullName>
	</UrlKeyMap>
	<UrlKeyMap>
		<Key>sitemap</Key>
		<PageFullName></PageFullName>
	</UrlKeyMap>
	<UrlKeyMap>
		<Key>our-partner</Key>
		<PageFullName></PageFullName>
	</UrlKeyMap>
	<UrlKeyMap>
		<Key>support/productfaq/detail</Key>
		<PageFullName></PageFullName>
	</UrlKeyMap>
	<UrlKeyMap>
		<Key>support/virusfaq/detail</Key>
		<PageFullName></PageFullName>
	</UrlKeyMap>
	<UrlKeyMap>
		<Key>sucurity/insight/detail</Key>
		<PageFullName></PageFullName>
	</UrlKeyMap>
	<UrlKeyMap>
		<Key>security/virus-center/detail</Key>
		<PageFullName></PageFullName>
	</UrlKeyMap>
</ArrayOfUrlKeyMap>