<?xml version="1.0" encoding="utf-8"?>
<ArrayOfUrlRedirect xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<UrlRedirect>
		<LastestEditor>admin</LastestEditor>
		<UUID>3UTMYXZK</UUID>
		<UtcCreationDate>2016-03-14T15:03:20.839871Z</UtcCreationDate>
		<UtcLastestModificationDate i:nil="true" />
		<InputUrl>/about</InputUrl>
		<OutputUrl>/about/about-us</OutputUrl>
		<Regex>false</Regex>
		<RedirectType>Moved_Permanently_301</RedirectType>
	</UrlRedirect>
	<UrlRedirect>
		<LastestEditor>admin</LastestEditor>
		<UUID>YNZX5KRN</UUID>
		<UtcCreationDate>2016-03-14T15:03:43.6874686Z</UtcCreationDate>
		<UtcLastestModificationDate i:nil="true" />
		<InputUrl>/about/</InputUrl>
		<OutputUrl>/about/about-us</OutputUrl>
		<Regex>false</Regex>
		<RedirectType>Moved_Permanently_301</RedirectType>
	</UrlRedirect>
</ArrayOfUrlRedirect>