<?xml version="1.0" encoding="utf-8"?>
<HtmlBlock xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2016-03-14T10:19:43.3195552Z</LastUpdateDate>
	<Body>&lt;p&gt;AhnLab constantly collects and compiles information on the most recent and common viruses.&lt;/p&gt;
&lt;p&gt;Upgrading to the latest engine and patch, is one of the most crucial steps in securing your network and computers. When the security software is installed, the following 4 levels will indicate the current security status with recommended actions to take.&lt;/p&gt;</Body>
	<UUID>Security.RiskLevel</UUID>
	<UserName>admin</UserName>
</HtmlBlock>