<?xml version="1.0" encoding="utf-8"?>
<HtmlBlock xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2016-04-03T10:00:11.7423776Z</LastUpdateDate>
	<Body>&lt;div class="myMenu"&gt;&lt;a href="/download/free-trial"&gt;Free Trial Downloads&lt;/a&gt; &lt;a href="/download/engine-patch"&gt;Engine/Patch File Downloads&lt;/a&gt; &lt;a href="/download/documents"&gt;Document Downloads&lt;/a&gt;&lt;/div&gt;</Body>
	<UUID>Membership.MyAccout.Menu</UUID>
	<UserName>admin</UserName>
</HtmlBlock>