<?xml version="1.0" encoding="utf-8"?>
<HtmlBlock xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2016-02-22T07:50:10.8997012Z</LastUpdateDate>
	<Body>&lt;p class="logo"&gt;&lt;a href="/"&gt; &lt;img alt="img_logo.gif" src="/Cms_Data/Contents/Ahnlab/Media/logo/img_logo.gif" height="24" width="108" /&gt; &lt;/a&gt;&lt;/p&gt;</Body>
	<UUID>header.logo</UUID>
	<UserName>admin</UserName>
</HtmlBlock>