<?xml version="1.0" encoding="utf-8"?>
<HtmlBlock xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2016-03-17T09:07:14.5124108Z</LastUpdateDate>
	<Body>&lt;p class="tit"&gt;&lt;a href="/download/free-trial"&gt;Downloads&lt;/a&gt;&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;&lt;a href="/download/free-trial"&gt;Free Trial&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="/download/engine-patch"&gt;Engine/Patch File Downloads&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="/download/removal-tools"&gt;Removal Tools&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="/download/documents"&gt;Document Downloads&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</Body>
	<UUID>Footer.Col-2</UUID>
	<UserName>admin</UserName>
</HtmlBlock>