<div class="mng">
    <div class="cont">
        <div class="fav">
            <ul>
                <li>
                    @Html.FrontHtml().RenderHtmlBlock("Footer.Col-1")
                </li>
            </ul>
            <ul>
                <li>
                    @Html.FrontHtml().RenderHtmlBlock("Footer.Col-2")
            </ul>
            <ul>
                <li>
                    @Html.FrontHtml().RenderHtmlBlock("Footer.Col-3")
                </li>
            </ul>
        </div>
        <div class="guide">
            @Html.FrontHtml().RenderHtmlBlock("Footer.Col-4")
        </div>
    </div>
</div>