<?xml version="1.0" encoding="utf-8"?>
<HtmlBlock xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2016-03-15T14:39:37.0066713Z</LastUpdateDate>
	<Body>&lt;div class="descCopy"&gt;
&lt;p&gt;You can download technical reports of AhnLab malware analysis, the latest threat issues and newsletter from Gartner, an IT industry research firm.&lt;/p&gt;
&lt;/div&gt;
&lt;h2 class="cTit"&gt;AhnLab Newsletter featuring Gartner research&lt;/h2&gt;
&lt;div class="downBox"&gt;
&lt;div class="cont"&gt;
&lt;p class="tit"&gt;AhnLab V3 Mobile, A Smart Choice for a Mobile-Only Era&lt;/p&gt;
&lt;p&gt;Find out the latest mobile threat trend and the reason why AhnLab V3 Mobile is highly evaluated.&lt;/p&gt;
&lt;/div&gt;
&lt;a title="POS System Threats and AhnLab EPS Download related files in PDF" class="btnSm pdf" target="_blank" href="http://www.gartner.com/technology/media-products/pdfindex.jsp?g=ahnlab-1-2JFY8YE"&gt;PDF Downloads&lt;/a&gt;&lt;/div&gt;
&lt;h2 class="cTit mt35"&gt;In-depth Analysis&lt;/h2&gt;
&lt;div class="downBox"&gt;
&lt;div class="cont"&gt;
&lt;p class="tit"&gt;Targeted attack on France&amp;rsquo;s TV5Monde&lt;/p&gt;
&lt;p&gt;This report presents the malwares used in the targeted attack against TV5 Monde in France.&lt;/p&gt;
&lt;/div&gt;
&lt;a title="Targeted attack on France&amp;rsquo;s TV5Monde Download related files in PDF" class="btnSm pdf" target="_blank" href="http://global.ahnlab.com/global/upload/download/documents/1506306551185339.pdf"&gt;PDF Downloads&lt;/a&gt;&lt;/div&gt;
&lt;h2 class="cTit mt35"&gt;Issue Report&lt;/h2&gt;
&lt;ul class="listIssue"&gt;
&lt;li&gt;
&lt;p class="tit"&gt;[Analysis of Zero-Day Exploit #04: Almighty Zero-day Attack: GodMode (CVE-2014-6332)]&lt;/p&gt;
&lt;p&gt;This report presents what GodMode is and how attackers are able VBScript in web browser to perform malicious behaviors by GodMode.&lt;/p&gt;
&lt;a title="[Analysis of Zero-Day Exploit #04: Almighty Zero-day Attack: GodMode (CVE-2014-6332)] Download related files in PDF" class="btnSm pdf" target="_blank" href="http://global.ahnlab.com/global/upload/download/documents/1506262920811527.pdf"&gt;PDF Downloads&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;
&lt;p class="tit"&gt;[Analysis of Zero-Day Exploit #03: Heap-based Buffer Overflow Vulnerability in Adobe Flash Player]&lt;/p&gt;
&lt;p&gt;This report shows a detailed analysis of the vulnerability of CVE-2014-0556, which affects both web browsers and document files (PDF or MS Office) containing Flash content.&lt;/p&gt;
&lt;a title="[Analysis of Zero-Day Exploit #03: Heap-based Buffer Overflow Vulnerability in Adobe Flash Player] Download related files in PDF" class="btnSm pdf" target="_blank" href="http://global.ahnlab.com/global/upload/download/documents/1506262920801954.pdf"&gt;PDF Downloads&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;
&lt;p class="tit"&gt;[Analysis of Zero-Day Exploit #02: Windows OLE Remote Code Execution Vulnerability]&lt;/p&gt;
&lt;p&gt;This report presents how attackers exploit the zero-day vulnerability "CVE-2014-4114" and execute arbitrary codes via a crafted OLE object in an Office document.&lt;/p&gt;
&lt;a title="[Analysis of Zero-Day Exploit #02: Windows OLE Remote Code Execution Vulnerability] Download related files in PDF" class="btnSm pdf" target="_blank" href="http://global.ahnlab.com/global/upload/download/documents/1501086836828915.pdf"&gt;PDF Downloads&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;
&lt;p class="tit"&gt;[2014 Linux Malware Outbreak]&lt;/p&gt;
&lt;p&gt;This report presents the latest trends with the notorious Linux malware that have been discovered in 2014.&lt;/p&gt;
&lt;a title="[2014 Linux Malware Outbreak] Download related files in PDF" class="btnSm pdf" target="_blank" href="http://global.ahnlab.com/global/upload/download/documents/1501086836849873.pdf"&gt;PDF Downloads&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;
&lt;p class="tit"&gt;[All You Need to Know about the Latest Linux Malware]&lt;/p&gt;
&lt;p&gt;This report presents the latest trend in Linux malware that has recently leapt onto the main stage of security.&lt;/p&gt;
&lt;a title="[All You Need to Know about the Latest Linux Malware] Download related files in PDF" class="btnSm pdf" target="_blank" href="http://global.ahnlab.com/global/upload/download/documents/1501086836841003.pdf"&gt;PDF Downloads&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;
&lt;p class="tit"&gt;[Analysis of Zero-Day Exploit #01: Microsoft Word RTF Vulnerability]&lt;/p&gt;
&lt;p&gt;This report presents how attackers can exploit the zero-day vulnerability "CVE-2014-1761" in Microsoft Word.&lt;/p&gt;
&lt;a title="[Analysis of Zero-Day Exploit #01: Microsoft Word RTF Vulnerability] Download related files in PDF" class="btnSm pdf" target="_blank" href="http://global.ahnlab.com/global/upload/download/documents/1501086836809173.pdf"&gt;PDF Downloads&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;
&lt;p class="tit"&gt;[Malware Analysis of Security Breach against Target Corp.]&lt;/p&gt;
&lt;p&gt;This report provides a look at attack methods of the security breach may affect 70 million consumers.&lt;/p&gt;
&lt;a title="[Malware Analysis of Security Breach against Target Corp.] Download related files in PDF" class="btnSm pdf" target="_blank" href="http://global.ahnlab.com/global/upload/download/documents/1405216507669699.pdf"&gt;PDF Downloads&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;
&lt;p class="tit"&gt;[ETSO APT Attacks Analysis]&lt;/p&gt;
&lt;p&gt;This report provides a look at the detailed nature of Advanced Persistent Threats by "ETSO Hacking Group" against 12 companies.&lt;/p&gt;
&lt;a title="[ETSO APT Attacks Analysis] Download related files in PDF" class="btnSm pdf" target="_blank" href="http://global.ahnlab.com/global/upload/download/documents/1401223631603288.pdf"&gt;PDF Downloads&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;
&lt;p class="tit"&gt;[Be Prepared for Java Zero-day Attacks]&lt;/p&gt;
&lt;p&gt;This report provides a detailed look at malicious codes spread via cloud-based data storage services using Java zero-day vulnerability.&lt;/p&gt;
&lt;a title="[Be Prepared for Java Zero-day Attacks] Download related files in PDF" class="btnSm pdf" target="_blank" href="http://global.ahnlab.com/global/upload/download/documents/1401223631614158.pdf"&gt;PDF Downloads&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;
&lt;p class="tit"&gt;[Beware of Formidable GongDa Attacks]&lt;/p&gt;
&lt;p&gt;This report provides an in-depth analysis of the GongDa toolkit, a notorious web exploit toolkit, that uses the latest vulnerabilities.&lt;/p&gt;
&lt;a title="[Beware of Formidable GongDa Attacks] Download related files in PDF" class="btnSm pdf" target="_blank" href="http://global.ahnlab.com/global/upload/download/documents/1401223631616953.pdf"&gt;PDF Downloads&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</Body>
	<UUID>Security.TechReport</UUID>
	<UserName>admin</UserName>
</HtmlBlock>