<?xml version="1.0" encoding="utf-8"?>
<HtmlBlock xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2016-03-15T14:46:40.8969747Z</LastUpdateDate>
	<Body>&lt;div class="descCopy"&gt;From major security threats to the latest technical trends, learn and obtain the information from ASEC Monthly Report&lt;/div&gt;
&lt;div class="repCover"&gt;
&lt;div class="repTit"&gt;
&lt;p class="tit"&gt;ASEC REPORT&lt;/p&gt;
&lt;span&gt;AhnLab Security Emergency Response Center&lt;/span&gt;
&lt;p class="vol"&gt;Vol.72&lt;/p&gt;
&lt;/div&gt;
&lt;div class="repCont"&gt;
&lt;div class="titWrap"&gt;&lt;span class="icoHot"&gt;HOT&lt;/span&gt; &lt;span class="fcBlue"&gt;SECURITY ISSUE&lt;/span&gt;
&lt;p class="tit"&gt;Security Trend of December 2015&lt;/p&gt;
&lt;/div&gt;
&lt;p class="cont"&gt;Ransomware are becoming more technologically advanced, and have recently shown signs of becoming "localized." In the meantime, AhnLab announced its annual security trend report that referred to major security issues, including ransomware, in 2015 and upcoming threats in 2016.&lt;/p&gt;
 &lt;a class="btnSm pdf" title="New Window - Security Trend of December 2015   PDF" target="_blank" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC REPORT_Vol.72_ENG.pdf"&gt;PDF&lt;/a&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;h2 class="cTit mt35"&gt;Past Volumes&lt;/h2&gt;
&lt;div class="tList01 report"&gt;
&lt;table&gt;&lt;caption&gt;ASEC report View previous edition&lt;/caption&gt;&lt;colgroup&gt; &lt;col style="width: 150px;" /&gt; &lt;col style="width: 70px;" /&gt; &lt;col style="width: 70px;" /&gt; &lt;col style="width: 70px;" /&gt; &lt;col style="width: 70px;" /&gt; &lt;col style="width: 70px;" /&gt; &lt;col style="width: 70px;" /&gt; &lt;col style="width: 70px;" /&gt; &lt;col style="width: 70px;" /&gt; &lt;col style="width: 70px;" /&gt; &lt;col style="width: 70px;" /&gt; &lt;col style="width: 70px;" /&gt; &lt;col style="width: 70px;" /&gt; &lt;/colgroup&gt;
&lt;thead&gt;
&lt;tr&gt;&lt;th class="first" scope="col"&gt;Year&lt;/th&gt;&lt;th colspan="12" scope="col"&gt;Articles&lt;/th&gt;&lt;/tr&gt;
&lt;/thead&gt;
&lt;tbody&gt;
&lt;tr class="first"&gt;
&lt;td class="first"&gt;2015&lt;/td&gt;
&lt;td&gt;Vol.61 &lt;a title="New Window - View Monthly ASEC Vol. 61 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC+REPORT_vol.61_ENG.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.62 &lt;a title="New Window - View Monthly ASEC Vol. 62 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC+REPORT_vol.62_ENG.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.63 &lt;a title="New Window - View Monthly ASEC Vol. 63 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC REPORT_Vol.63_ENG.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.64 &lt;a title="New Window - View Monthly ASEC Vol. 64 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC REPORT_Vol.64_ENG.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.65 &lt;a title="New Window - View Monthly ASEC Vol. 65 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC REPORT_vol.65_ENG.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.66 &lt;a title="New Window - View Monthly ASEC Vol. 66 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC Report_Vol.66_ENG.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.67 &lt;a title="New Window - View Monthly ASEC Vol. 67 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC Report_Vol.67_ENG.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.68 &lt;a title="New Window - View Monthly ASEC Vol. 68 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC REPORT_vol.68_ENG.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.69 &lt;a title="New Window - View Monthly ASEC Vol. 69 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC REPORT_Vol.69_ENG.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.70 &lt;a title="New Window - View Monthly ASEC Vol. 70 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC REPORT_Vol.70_ENG.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.71 &lt;a title="New Window - View Monthly ASEC Vol. 71 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC REPORT_Vol.71_ENG.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.72 &lt;a title="New Window - View Monthly ASEC Vol. 72 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC REPORT_Vol.72_ENG.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td class="first"&gt;2014&lt;/td&gt;
&lt;td&gt;Vol.49 &lt;a title="New Window - View Monthly ASEC Vol. 49 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC Report_Vol.49_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.50 &lt;a title="New Window - View Monthly ASEC Vol. 50 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC Report_Vol.50_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.51 &lt;a title="New Window - View Monthly ASEC Vol. 51 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC Report_Vol.51_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.52 &lt;a title="New Window - View Monthly ASEC Vol. 52 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.52_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.53 &lt;a title="New Window - View Monthly ASEC Vol. 53 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.53_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.54 &lt;a title="New Window - View Monthly ASEC Vol. 54 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC Report_Vol.54_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.55 &lt;a title="New Window - View Monthly ASEC Vol. 55 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC Report_Vol.55_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.56 &lt;a title="New Window - View Monthly ASEC Vol. 56 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC Report_Vol.56_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.57 &lt;a title="New Window - View Monthly ASEC Vol. 57 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC Report_Vol.57_Eng (1).pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.58 &lt;a title="New Window - View Monthly ASEC Vol. 58 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC Report_Vol.58_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.59 &lt;a title="New Window - View Monthly ASEC Vol. 59 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC Report_Vol.59_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.60 &lt;a title="New Window - View Monthly ASEC Vol. 60 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC Report_Vol.60_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td class="first"&gt;2013&lt;/td&gt;
&lt;td&gt;Vol.37 &lt;a title="New Window - View Monthly ASEC Vol. 37 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.37_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.38 &lt;a title="New Window - View Monthly ASEC Vol. 38 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.38_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.39 &lt;a title="New Window - View Monthly ASEC Vol. 39 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.39_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.40 &lt;a title="New Window - View Monthly ASEC Vol. 40 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.40_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.41 &lt;a title="New Window - View Monthly ASEC Vol. 41 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.41_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.42 &lt;a title="New Window - View Monthly ASEC Vol. 42 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.42_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.43 &lt;a title="New Window - View Monthly ASEC Vol. 43 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.43_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.44 &lt;a title="New Window - View Monthly ASEC Vol. 44 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.44_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.45 &lt;a title="New Window - View Monthly ASEC Vol. 45 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.45_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.46 &lt;a title="New Window - View Monthly ASEC Vol. 46 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.46_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.47 &lt;a title="New Window - View Monthly ASEC Vol. 47 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.47_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.48 &lt;a title="New Window - View Monthly ASEC Vol. 48 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC Report _Vol.48_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td class="first"&gt;2012&lt;/td&gt;
&lt;td&gt;Vol.25 &lt;a title="New Window - View Monthly ASEC Vol. 25 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.25_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.26 &lt;a title="New Window - View Monthly ASEC Vol. 26 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.26_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.27 &lt;a title="New Window - View Monthly ASEC Vol. 27 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.27_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.28 &lt;a title="New Window - View Monthly ASEC Vol. 28 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.28_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.29 &lt;a title="New Window - View Monthly ASEC Vol. 29 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.29_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.30 &lt;a title="New Window - View Monthly ASEC Vol. 30 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.30_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.31 &lt;a title="New Window - View Monthly ASEC Vol. 31 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.31_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.32 &lt;a title="New Window - View Monthly ASEC Vol. 32 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.32_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.33 &lt;a title="New Window - View Monthly ASEC Vol. 33 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.33_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.34 &lt;a title="New Window - View Monthly ASEC Vol. 34 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.34_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.35 &lt;a title="New Window - View Monthly ASEC Vol. 35 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.35_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.36 &lt;a title="New Window - View Monthly ASEC Vol. 36 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.36_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td class="first"&gt;2011&lt;/td&gt;
&lt;td&gt;Vol.13 &lt;a title="New Window - View Monthly ASEC Vol. 13 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.13_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.14 &lt;a title="New Window - View Monthly ASEC Vol. 14 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.14_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.15 &lt;a title="New Window - View Monthly ASEC Vol. 15 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.15_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.16 &lt;a title="New Window - View Monthly ASEC Vol. 16 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.16_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.17 &lt;a title="New Window - View Monthly ASEC Vol. 17 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.17_Eng..pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.18 &lt;a title="New Window - View Monthly ASEC Vol. 18 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.18_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.19 &lt;a title="New Window - View Monthly ASEC Vol. 19 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.19_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.20 &lt;a title="New Window - View Monthly ASEC Vol. 20 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.20_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.21 &lt;a title="New Window - View Monthly ASEC Vol. 21 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.21_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.22 &lt;a title="New Window - View Monthly ASEC Vol. 22 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.22_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.23 &lt;a title="New Window - View Monthly ASEC Vol. 23 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.23_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.24 &lt;a title="New Window - View Monthly ASEC Vol. 24 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.24_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td class="first"&gt;2010&lt;/td&gt;
&lt;td&gt;Vol.01 &lt;a title="New Window - View Monthly ASEC Vol. 01 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.01_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.02 &lt;a title="New Window - View Monthly ASEC Vol. 02 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.02_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.03 &lt;a title="New Window - View Monthly ASEC Vol. 03 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.03_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.04 &lt;a title="New Window - View Monthly ASEC Vol. 04 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.04_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.05 &lt;a title="New Window - View Monthly ASEC Vol. 05 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.05_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.06 &lt;a title="New Window - View Monthly ASEC Vol. 06 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.06_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.07 &lt;a title="New Window - View Monthly ASEC Vol. 07 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.07_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.08 &lt;a title="New Window - View Monthly ASEC Vol. 08 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.08_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.09 &lt;a title="New Window - View Monthly ASEC Vol. 09 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.09_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.10 &lt;a title="New Window - View Monthly ASEC Vol. 10 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.10_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.11 &lt;a title="New Window - View Monthly ASEC Vol. 11 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.11_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;Vol.12 &lt;a title="New Window - View Monthly ASEC Vol. 12 in PDF" target="_blank" class="btnPdf" href="//global.ahnlab.com/global/upload/download/asecreport/ASEC_Report_Vol.12_Eng.pdf"&gt;PDF&lt;/a&gt;&lt;/td&gt;
&lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;
&lt;/div&gt;
&lt;div class="installBox"&gt;
&lt;p&gt;ASEC Reports starting from 2010 are available for download.&lt;br /&gt;Click the Adobe Acrobat Reader icon and download or view ASEC Report.&lt;/p&gt;
&lt;a class="btnSm pdf" title="New Window" target="_blank" href="http://get.adobe.com/uk/reader/"&gt;Install Adobe Acrobat Reader&lt;/a&gt;&lt;/div&gt;</Body>
	<UUID>Security.ASECReport</UUID>
	<UserName>admin</UserName>
</HtmlBlock>