<?xml version="1.0" encoding="utf-8"?>
<HtmlBlock xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2016-03-11T14:11:04.1435047Z</LastUpdateDate>
	<Body>&lt;div class="descCopy mb35"&gt;
&lt;p&gt;Removal tool will check your computer for any infection caused by specific virus and will remove them.&lt;/p&gt;
&lt;p&gt;To protect your system and prevent outbreak of malware, please download the corresponding file.&lt;/p&gt;
&lt;/div&gt;
&lt;div class="boxCm topNotice"&gt;
&lt;p class="cmtInfo"&gt;Please be noted that&lt;/p&gt;
&lt;ul class="blTxt"&gt;
&lt;li&gt;- If V3's real-time monitoring or any other real-time anti-virus monitoring is currently turned on, please turn it off before&amp;nbsp;executing the Specialized Removal Tool.&lt;/li&gt;
&lt;li&gt;- Since the Specialized Removal Tool is&amp;nbsp;&lt;span class="fcBlue"&gt;developed to repair the infected system&lt;/span&gt;, it doesn't provide a system monitoring function for prevention purpose.&lt;/li&gt;
&lt;li&gt;- The Specialized Removal Tool is not subjected to regular updates.&lt;/li&gt;
&lt;/ul&gt;
&lt;/div&gt;</Body>
	<UUID>RemovalTool.Introduction</UUID>
	<UserName>admin</UserName>
</HtmlBlock>