<div class="locWrap clfix">
    <ul>
        <li class="locLi alt">
            <a href="#" class="locTit ">About AhnLab</a>
        </li>
        <li class="locLi LocationNavi">
            <a href="#" class="locTit locLink">Contact Us</a>
            <div class="locList">
                <p><a href="#">About Us</a></p>
                <p><a href="#">AhnLab Solutions Portfolio</a></p>
                <p><a href="#">Press Releases</a></p>
                <p><a href="#">Event</a></p>
                <p><a href="#">Technology</a></p>
                <p><a href="#">Certificates</a></p>
                <p class="on"><a href="#">Contact Us</a></p>
            </div>
        </li>
    </ul>
</div>