<?xml version="1.0" encoding="utf-8"?>
<HtmlBlock xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2016-04-01T07:56:28.8086643Z</LastUpdateDate>
	<Body>&lt;div class="boxTInfo ac"&gt;
&lt;p&gt;If you are reporting about PC malfunctioning or failure of repairing files, you need to attach AhnReport.&lt;/p&gt;
&lt;p&gt;&lt;/p&gt;
&lt;p&gt;If you cannot install ActiveX or if the infected system is at another location, please download and run AhnReport seperately.&lt;/p&gt;
&lt;div class="btnCenter mt15"&gt;&lt;a class="btnCmDb down" href="http://download.ahnlab.com/down/ahnreport/AhnRpt.exe"&gt;Download AhnReport&lt;/a&gt;&lt;/div&gt;
&lt;/div&gt;</Body>
	<UUID>Support.SuspiciousFiles</UUID>
	<UserName>admin</UserName>
</HtmlBlock>