<?xml version="1.0" encoding="utf-8"?>
<HtmlBlock xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2016-02-22T09:37:53.3930759Z</LastUpdateDate>
	<Body>&lt;h2 class="cTit"&gt;Privacy Statement.&lt;/h2&gt;
&lt;p&gt;You may notice that AhnLab has a new version of its privacy policy. Our privacy practices haven't changed. But our policy has gotten a makeover to make it easier for you to read and navigate.&lt;/p&gt;
&lt;p&gt;This privacy policy explains what personal information is collected through this website, how that information is used, to whom it's disclosed, and how it's safeguarded. This policy applies only to personal information collected through the website and microsites of AhnLab that display or link to this policy. By "personal information" we mean your identifying information (like name, home address, and email address), and possibly descriptive information (like City and Country) if coupled with your identifying information ("personally identifying information"). We may refer to AhnLab as "we," "us," or "our" throughout this privacy policy.&lt;/p&gt;
&lt;div class="terms"&gt;
&lt;div id="privTop"&gt;
&lt;p&gt;This privacy policy answers these questions :&lt;/p&gt;
&lt;ul class="blDot"&gt;
&lt;li&gt;&lt;a href="#ppA01"&gt;What personal information is collected at our website, and how is it used?&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="#ppA02"&gt;Does global.ahnlab.com share the information it receives?&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="#ppA03"&gt;What choices do you have over how your information is used?&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="#ppA04"&gt;What is the policy for visitors from outside the U.S.?&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="#ppA05"&gt;How may I update my personal information?&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="#ppA06"&gt;How do we secure your information on our site?&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="#ppA07"&gt;Whom may you contact with questions or concerns?&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="#ppA08"&gt;Who administers this policy?&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="#ppA09"&gt;When was this policy last updated?&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;/div&gt;
&lt;h3 id="ppA01"&gt;What personal information is collected by visiting AhnLab website and how is it used?&lt;/h3&gt;
&lt;h4&gt;1. Information Collected Directly from You and Others on this website.&lt;/h4&gt;
&lt;p&gt;We collect personal information directly from you to dol the things typically associated with electronic commerce Web sites. Examples of the information we collect include First/Last name, email address, purchase and ordering information. In case of mobile solutions weso collect IMEI(Hash), Device models, OS versions and Carrier codes.&lt;/p&gt;
&lt;p&gt;This information is collected only through making an account or registering your product through the Web.&lt;/p&gt;
&lt;p&gt;We use this information to do things like :&lt;/p&gt;
&lt;ul class="blDot"&gt;
&lt;li&gt;process your online orders;&lt;/li&gt;
&lt;li&gt;open an online account at your request;&lt;/li&gt;
&lt;li&gt;provide customer service, whether it's responding to a request or following up on an order;&lt;/li&gt;
&lt;li&gt;facilitate networks of online social activity centered around our products and services;&lt;/li&gt;
&lt;li&gt;market our products and services-for instance, by adding you to our email or print-catalog list when you make an online purchase.&lt;/li&gt;
&lt;/ul&gt;
&lt;h4&gt;2. Information We Observe or Collect through Technology&lt;/h4&gt;
&lt;h5&gt;a. Navigational Information&lt;/h5&gt;
&lt;p&gt;When you visit our website, we collect navigational information, such as browser type and version, service-provider identification, IP address, the website from which you came, and the website to which you navigate. Navigational information is largely anonymous in the sense that it doesn't contain your name, address, phone number, email address or other information that directly identifies you. However, we may associate this navigational information with your personal information if you provide it.&lt;/p&gt;
&lt;h5&gt;b. Cookies&lt;/h5&gt;
&lt;p&gt;To better understand what you do while on our site, we use a browser feature known as a cookie. A cookie is a small data file that's stored by your Web browser on your computer. It's used to do things like see how you navigate our website, and remember you and your online purchases when you return. This helps us improve our website management, provide better customer service, personalize your online experience, and personalize offers to you based on your unique tastes and purchase history.&lt;/p&gt;
&lt;h3 id="ppA02"&gt;Does global.ahnlab.com share the information it receives?&lt;/h3&gt;
&lt;p&gt;Information about our customers is an important part of our business, and we will not disclose to the 3rd party. We share customer information only as described below and with global partners of AhnLab, Inc.&lt;/p&gt;
&lt;div class="tList01"&gt;
&lt;table&gt;&lt;caption&gt;Global Partners of AhnLab, Inc. List&lt;/caption&gt;&lt;colgroup&gt; &lt;col style="width: 40%;" /&gt; &lt;col style="width: 30%;" /&gt; &lt;col style="width: 30%;" /&gt; &lt;/colgroup&gt;
&lt;thead&gt;
&lt;tr&gt;&lt;th class="first" scope="col"&gt;Global Partners&lt;/th&gt;&lt;th scope="col"&gt;Purpose of Use&lt;/th&gt;&lt;th scope="col"&gt;Period of Use&lt;/th&gt;&lt;/tr&gt;
&lt;/thead&gt;
&lt;tbody&gt;
&lt;tr class="first"&gt;
&lt;td class="first"&gt;BlueZebra Co., Ltd.&lt;/td&gt;
&lt;td rowspan="9"&gt;
&lt;ul class="blList"&gt;
&lt;li&gt;Customer Service&lt;/li&gt;
&lt;li&gt;Business Transfers&lt;/li&gt;
&lt;li&gt;Third-Party Service Providers&lt;/li&gt;
&lt;/ul&gt;
&lt;/td&gt;
&lt;td rowspan="9"&gt;
&lt;ul class="blList"&gt;
&lt;li&gt;Termination of Partner Contract&lt;/li&gt;
&lt;li&gt;Demand of deletion&lt;/li&gt;
&lt;/ul&gt;
&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td class="first"&gt;Damage Control S.A. de C.V.&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td class="first"&gt;Multimedia Contents Security Service Sdn. Bhd.&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td class="first"&gt;PT. Tekhan Raya&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td class="first"&gt;RichSmart Technology Co., Ltd.&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td class="first"&gt;SQ Networks&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td class="first"&gt;Synetcom Philippines, Inc.&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td class="first"&gt;Sysware Singapore Pte Ltd.&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td class="first"&gt;World Star International JSC&lt;/td&gt;
&lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;
&lt;/div&gt;
&lt;h3 id="ppA03"&gt;What choices do you have over how your information is used?&lt;/h3&gt;
&lt;h4 class="mt0"&gt;1. Email&lt;/h4&gt;
&lt;p&gt;If at any time you'd like to stop future delivery of our email offers, simply disable the box at&amp;nbsp;&lt;a class="linkTxt" href="https://global.ahnlab.com/site/mypage/customer/customerEditForm.do"&gt;My Account &amp;gt; Edit My Information&lt;/a&gt;. This will stop future email offers from us, but won't stop operational or transactional messages such as email confirmations of your online orders, or customer service communications.&lt;/p&gt;
&lt;h4&gt;2. Cookies, Clear Gifs, and Online Network Advertising&lt;/h4&gt;
&lt;p&gt;You can block cookies or even clear cookies from your computer. Simply follow your browser's instructions on how to block and clear cookies. Note that blocking cookies may not block the "first-party" cookies that are placed on your computer when you visit this site. By first-party cookies, we mean those cookies (whether placed by us or a contractor) that help us see how visitors use our site, and enable us to deliver our ads on our site (as opposed to ads on an online advertising network of third-party websites). Clearing cookies after each visit here will prevent observations from multiple sessions being aggregated over time. Please consider the consequences of blocking or clearing cookies. Many websites rely on their cookies to provide you with services or features that you have requested or expect.&lt;/p&gt;
&lt;h3 id="ppA04"&gt;What is the policy for visitors from outside the U.S.?&lt;/h3&gt;
&lt;p&gt;This is a Korean Web-commerce site. This privacy policy governs the information collected at this site irrespective of where you're located when you access it, browse it, interact with it, and make purchases through it (including those that are shipped to addresses outside the U.S.). This means your personal information may be stored outside of the province, state, and/or country in which you reside, and processed by us, an affiliate or a third-party service provider as described in this privacy policy. Moreover, governmental bodies that have jurisdiction (e.g., courts and law enforcement agencies) may be entitled to access your personal information.&lt;/p&gt;
&lt;h3 id="ppA05"&gt;How may I update my personal information?&lt;/h3&gt;
&lt;p&gt;We prefer to keep your personal information accurate and up-to-date. You may update or modify your information by logging onto&amp;nbsp;&lt;a class="linkTxt" href="https://global.ahnlab.com/site/mypage/mypageMain.do"&gt;Your Account&lt;/a&gt;.&lt;/p&gt;
&lt;h3 id="ppA06"&gt;How do we secure your information on our site?&lt;/h3&gt;
&lt;p&gt;This website has the following types of security measures: limited access data-centers, firewall technology, and secure-socket-layer (SSL) certificate authentication. SSL is encryption technology that provides security for information that's transmitted over the Internet. This site accepts orders only from Web browsers that permit communication through SSL technology-for example, Internet Explorer (version 6.0 or higher), Firefox (version 3.0 or higher), Safari (version 4 or higher), Chrome (version 2 or higher), and AOL (version 9 or higher).&lt;/p&gt;
&lt;p&gt;While we implement the above security measures on this site, you should be aware that 100% security is not always possible.&lt;/p&gt;
&lt;h3 id="ppA07"&gt;Whom may you contact with questions or concerns?&lt;/h3&gt;
&lt;p&gt;If you have questions or concerns with respect to our Privacy Policy, please feel free to&amp;nbsp;&lt;a class="linkTxt" href="mailto:e-support@ahnlab.com"&gt;contact us&lt;/a&gt;.&lt;/p&gt;
&lt;h3 id="ppA08"&gt;Who administers this policy?&lt;/h3&gt;
&lt;p&gt;Our Vice President (VP) of Global Business Division administers this policy. You may write to this person at :&lt;/p&gt;
&lt;p&gt;VP, Privacy &lt;br /&gt; AhnLab &lt;br /&gt; Global Business Division &lt;br /&gt; 220, Pangyoyeok-ro, Bundang-gu, &lt;br /&gt; Seongnam-si, Gyeonggi-do &lt;br /&gt; Korea&lt;/p&gt;
&lt;h3 id="ppA09"&gt;When was this policy last updated?&lt;/h3&gt;
&lt;p&gt;Please&amp;nbsp;&lt;a class="linkTxt" href="#privTop"&gt;click here&lt;/a&gt;&amp;nbsp;to view any material and substantive changes made since the last revision of this privacy policy. If you're concerned about how your personal information is used, please visit our site often for this and other important announcements about global.ahnlab.com.&lt;/p&gt;
&lt;p class="date"&gt;This Privacy Statement is effective May 7, 2014&lt;/p&gt;
&lt;/div&gt;</Body>
	<UUID>privacy-policy</UUID>
	<UserName>admin</UserName>
</HtmlBlock>