@functions{
    private List<TextContent> GetChildren(string parentUUID)
    {
        return ((List<TextContent>)ViewBag.Categories).Where(t => t.ParentUUID == parentUUID).ToList();
    }
}
@if (ViewBag.ParentCategories != null && ViewBag.ParentCategories.Length > 0)
{
    <nav id="naviMenu">

        <ul>
            @foreach (TextContent parent in ViewBag.ParentCategories)
            {
                if (parent["CssClass"] == "muProd")
                {
                    var i = 0;
                    var children = GetChildren(parent.UUID);

                    <li class="muProd ">
                        <!-- mouseover, focus 일 경우 li 태그에 on 클래스 추가, 선택되었을 때는 selected 클래스 추가 -->
                        <a href="#" class="oneLink">@parent["Name"]</a>
                        @if (children != null && children.Any())
                        {
                            <div class="lyMu">
                                <div class="lyMuWrap">
                                    <div class="lyMuCont">
                                        @foreach (var child in children)
                                        {

                                            <div class="naviWrap @(i == 0? "clear" : "")">
                                                <p class="tit"><a href="#">@child["Name"]</a></p>
                                                @*<ul class="thrList">
                                                        <li><a href="product/productSubDetail5d8e.html?prodSeq=15231">AhnLab MDS</a></li>
                                                        <li><a href="product/productSubDetailea32.html?prodSeq=1112">AhnLab MDSE</a></li>
                                                    </ul>*@
                                            </div>
                                            i++;
                                        }
                                    </div>
                                </div>
                            </div>
                        }

                    </li>
                }
                else
                {
                    <li class="muDown ">
                        <!-- 1depth -->
                        <a href="download/free/freeTrial.html" class="oneLink">Downloads</a>
                        <!-- menu layer -->
                        <div class="lyMu">
                            <div class="lyMuWrap">
                                <div class="lyMuCont">
                                    <div class="fl">
                                        <div class="naviWrap clear">
                                            <!-- 2depth -->

                                            <p class="tit"><a href="download/free/freeTrial.html">Free Trial</a></p>

                                        </div>
                                        <div class="naviWrap ">
                                            <!-- 2depth -->

                                            <p class="tit"><a href="download/engine/engineList.html">Engine/Patch File Downloads</a></p>

                                        </div>
                                        <div class="naviWrap ">
                                            <!-- 2depth -->

                                            <p class="tit"><a href="download/removal/removalList.html">Removal Tools</a></p>

                                        </div>
                                        <div class="naviWrap ">
                                            <!-- 2depth -->

                                            <p class="tit"><a href="download/documents/documentsList.html">Document Downloads</a></p>

                                        </div>
                                    </div>
                                    <div class="fr">
                                        <div class="pdList">
                                            <a href="product/productSubDetail5d8e.html?prodSeq=15231">
                                                <img src="../image/en/common/img_gnb_product.jpg" class="photo" alt="">
                                                <p class="fcBlue">AhnLab MDS</p>
                                                <p>A Complete Defense Strategy against Next-Generation Threats.</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- //menu layer -->
                    </li>
                }
            }


            <li class="muSup ">
                <!-- 1depth -->

                <a href="support/supportMain.html" class="oneLink">Support</a>

                <!-- menu layer -->
                <div class="lyMu">
                    <div class="lyMuWrap">
                        <div class="lyMuCont">
                            <div class="fl">
                                <div class="naviWrap clear">
                                    <!-- 2depth -->

                                    <p class="tit"><a href="support/html/supportProgram.html">Technical Support</a></p>

                                    <!-- 3depth -->
                                    <ul class="thrList">

                                        <li><a href="support/html/supportProgram.html">Support Program</a></li>
                                    </ul>
                                    <!-- 3depth -->
                                    <ul class="thrList">

                                        <li><a href="support/html/ahnReport.html">AhnReport</a></li>
                                    </ul>
                                </div>
                                <div class="naviWrap ">
                                    <!-- 2depth -->

                                    <p class="tit"><a href="support/virusreport/virusReport.html">Submit <br />Suspicious Files</a></p>

                                    <!-- 3depth -->
                                    <ul class="thrList">

                                        <li><a href="login/loginFormac54.html?tab=1">If you are reporting from the PC with the problems</a></li>
                                    </ul>
                                    <!-- 3depth -->
                                    <ul class="thrList">

                                        <li><a href="login/loginFormdb20.html?tab=2">If you "cannot" report from <br />the PC with the problems</a></li>
                                    </ul>
                                </div>
                                <div class="naviWrap ">
                                    <!-- 2depth -->

                                    <p class="tit"><a href="support/productfaq/productFaqList.html">Product FAQ</a></p>

                                </div>
                                <div class="naviWrap ">
                                    <!-- 2depth -->
                                    <p class="tit"><a href="support/virusfaq/virusFaqList.html">Virus FAQ</a></p>
                                </div>
                                <div class="naviWrap clear">
                                    <!-- 2depth -->
                                    <p class="tit"><a href="login/loginForm1222.html">Q&A</a></p>
                                </div>
                                <div class="naviWrap ">
                                    <!-- 2depth -->
                                    <p class="tit"><a href="support/notice/noticeList.html">Notice</a></p>
                                </div>
                            </div>
                            <div class="fr">
                                <dl>
                                    <dt>AhnLab Global Partner Program</dt>
                                    <dd class="part">
                                        <p>Expand Your Business through AhnLab Partner Program.</p>
                                        <a href="support/partner/ourPartner.html" class="linkArr">Read More</a>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //menu layer -->
            </li>

            <li class="muSecur ">
                <!-- 1depth -->

                <a href="securitycenter/securitycenterMain.html" class="oneLink">Security Center</a>

                <!-- menu layer -->
                <div class="lyMu">
                    <div class="lyMuWrap">
                        <div class="lyMuCont">
                            <div class="fl">
                                <div class="naviWrap clear">
                                    <!-- 2depth -->

                                    <p class="tit"><a href="securitycenter/html/aboutASEC.html">About ASEC</a></p>

                                </div>
                                <div class="naviWrap ">
                                    <!-- 2depth -->

                                    <p class="tit"><a href="securitycenter/asec/asecReportList.html">ASEC Report</a></p>

                                </div>
                                <div class="naviWrap ">
                                    <!-- 2depth -->

                                    <p class="tit"><a href="securitycenter/html/techReport.html">Tech Report</a></p>

                                </div>
                                <div class="naviWrap ">
                                    <!-- 2depth -->

                                    <p class="tit"><a href="securitycenter/securityinsight/securityInsightList.html">Security Insight</a></p>

                                </div>
                                <div class="naviWrap clear">
                                    <!-- 2depth -->

                                    <p class="tit"><a href="securitycenter/viruscenter/virusList.html">Virus Center</a></p>

                                </div>
                                <div class="naviWrap ">
                                    <!-- 2depth -->

                                    <p class="tit"><a href="securitycenter/html/securityRiskLevel.html">Security Risk Level</a></p>

                                </div>
                            </div>

                            <div class="fr">
                                <a href="http://www.gartner.com/technology/media-products/pdfindex.jsp?g=ahnlab-1-2JFY8YE" target="_blank" class="bann mds" title="View in PDF">
                                    <p class="fcBlue">AhnLab V3 Mobile, A Smart Choice for a Mobile-Only Era</p>
                                    <p>AhnLab Newsletter<br>featuring Gartner research</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //menu layer -->
            </li>

            <li class="muAL ">
                <!-- 1depth -->

                <a href="about/aboutAhnlab.html" class="oneLink">About AhnLab</a>

                <!-- menu layer -->
                <div class="lyMu">
                    <div class="lyMuWrap">
                        <div class="lyMuCont">
                            <div class="fl">
                                <div class="naviWrap clear">
                                    <!-- 2depth -->

                                    <p class="tit"><a href="about/aboutAhnlab.html">About Us</a></p>

                                </div>
                                <div class="naviWrap ">
                                    <!-- 2depth -->

                                    <p class="tit"><a href="about/securityPortfolio.html">AhnLab Solutions Portfolio</a></p>

                                </div>
                                <div class="naviWrap ">
                                    <!-- 2depth -->

                                    <p class="tit"><a href="about/pressRoomList.html">Press Releases</a></p>

                                </div>
                                <div class="naviWrap ">
                                    <!-- 2depth -->

                                    <p class="tit"><a href="about/eventList.html">Event</a></p>

                                </div>
                                <div class="naviWrap clear">
                                    <!-- 2depth -->

                                    <p class="tit"><a href="about/securityStrategy.html">Technology</a></p>

                                    <!-- 3depth -->
                                    <ul class="thrList">

                                        <li><a href="about/securityStrategy.html">Security Strategy</a></li>
                                    </ul>
                                    <!-- 3depth -->
                                    <ul class="thrList">

                                        <li><a href="about/coreTechnology.html">Core Technology</a></li>
                                    </ul>
                                </div>
                                <div class="naviWrap ">
                                    <!-- 2depth -->

                                    <p class="tit"><a href="about/certificates.html">Certificates</a></p>

                                </div>
                                <div class="naviWrap ">
                                    <!-- 2depth -->

                                    <p class="tit"><a href="etc/contactUs.html">Contact Us</a></p>

                                </div>
                            </div>

                            <div class="fr">
                                <dl>
                                    <dt>AhnLab Global Partner Program</dt>
                                    <dd class="part">
                                        <p>Expand Your Business through AhnLab Partner Program.</p>
                                        <a href="support/partner/ourPartner.html" class="linkArr">Read More</a>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //menu layer -->
            </li>
        </ul>
    </nav>
}